body{
    background-color: rgb(83, 50, 0);
}
nav {
background-color: rgb(83, 50, 0);
height: 90px;
display: flex;
    justify-content: left;  

}


nav .logo{
background-color: rgba(255, 255, 255, 0.949);    
 height: 90px;
 width: 90px;
text-align: left;
padding-right: 20%;
}

nav .menu{
    height: 100px;
    width: 100px;
margin-right: 200px;
padding-right: 10%;
}

.no-list-style {
    list-style-type: none; 
    padding-left: 0;      
    display: flex;          
    padding: 0;             
    margin: 0;   
    margin-left: 450px;           
}

.no-list-style li {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:larger;
    font-weight: bold;
    color: rgb(248, 248, 247);
    margin-top: 30px;   
    margin-right: 50px;
    margin-left: 90px;        
      
}

header{
   height: 500px;
     background-image: url(imgaes/back.jpg);
}
header .head{
display: flex;
    justify-content: center;  
}

.statment{
    margin-top: 200px;
    color: rgb(255, 255, 255);
}

section{

margin-top: 100px;

}

.homeimge{

text-align: center;

}

.homemenu{
    margin-top: 90px;
}
.menuimge{

    text-align: left;
    margin-left: 137px;
    margin-right: 30px;
    padding-right: 10px;
    
    }

    .contactimge{

        
        text-align: center;
        
        }